<html>
<head>
  <title>Weather Forecast</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="styles/importer.css"/>
</head>

<body>

<div id="header">
  <h2 class="pull-left" id="weather-heading">Weather for <%= cityDetails %></h2>
  <div id="details" class="pull-left">
    <form action="/" method="get">
      City: <select name="city" style="margin-right:10px;">
        <% for(var i = 0; i < cities.length; i++){ %>
        <option value="<%- cities[i].id %>" <% if(selectedCity == cities[i].id){ %>selected
          <% } %>
        >
          <%- cities[i].city %></option>
        <% } %>
      </select>
      Total Days Display: <select name="totDisplay" id="totDisplay">
        <% for(var i = 0; i < totalDisplays.length; i++){ %>
        <option value="<%- totalDisplays[i] %>" <% if(selectedTotDis == totalDisplays[i]){ %>selected
          <% } %>
        >
          <%- totalDisplays[i] %></option>
        <% } %>
      </select>
      <input type="submit" value="Submit" id="submit" style="color:#333"/>
    </form>
  </div>
</div>

<div class="container">
  <%
  function timeTo12HrFormat(time) {   // Take a time in 24 hour format and format it in 12 hour format
    var time_part_array = time.split(":");
    var ampm = 'am';

    if (time_part_array[0] >= 12) {
      ampm = 'pm';
    }

    var isNight = ampm === 'pm' && parseInt(time_part_array[0]) > 17 || parseInt(time_part_array[0]) < 5;

    if (time_part_array[0] > 12) {
      time_part_array[0] = time_part_array[0] - 12;
    }

    formatted_time = time_part_array[0] + ':' + time_part_array[1] + ampm;

    return [formatted_time, isNight];
  }

  function displayTimeCelsiusValues(dates) {
    var temp = '';
    var celsiusArray = [];

    for (var i = 0; i < dates.length; i++) {
      celsiusArray.push(dates[i].celsius);
      var hours = timeTo12HrFormat(dates[i].hours);
      var ampmclass = hours[1] ? 'night' : 'morning';
      temp += '<h4 class="pull-left hours '+ampmclass+'">' +
        hours[0] + ' </h4> <h4 class="pull-left celsius">' + dates[i].celsius + '&deg;C</h4>';
    }

    celsiusArray.sort();

  temp += '<p class="min-max pull-right">';
      temp += '<span>Min</span><span class="minmax min">' + celsiusArray[0]+'&deg;C</span>';
      temp += '<span>Max</span><span class="minmax max">' + celsiusArray[celsiusArray.length-1]+'&deg;C</span>';
    temp + '</p>';
    return temp;
  }
  %>

  <%
  Object.keys(dates).forEach(function(prop, index) {
   if(index < selectedTotDis){
  %>
  <div class="panel panel-default pull-left">
    <div class="panel-heading">
      <span class="serial"><%- index + 1 %></span><%- prop %>
    </div>
    <div class="panel-body">
      <h3 class="pull-left hours">Time</h3>
      <h3 class="pull-left celsius">Celsius</h3>
      <%- displayTimeCelsiusValues(dates[prop]) %>
    </div>
  </div>
  <%
  }
  } ); %>


</div>

</body>
</html>
