body {
  background: #DDDDDD;
}
#weather-heading{
  width:40%;
}
span.serial{
  border-radius: 23px;
  border: solid 1px;
  padding: 2px 6px;
  margin-right: 10px;
  background: #ddd;
  color: #aaa;
}
.panel-default>.panel-heading{
  background: #B84C31;
  color: #eee;
  font-weight:bold;
}
h3.pull-left {
  font-weight: bold;
  background: #ECD2C5;
  text-align:center;
}
h3.pull-left.celsius{
  border-left: none;
}
.pull-left {
  margin: 0;
  width: 50%;
  padding: 5px;
  font-size: 16px;
  border: solid 1px;
}
h4.pull-left.hours {
  border-top: none;
  background: #F8F8F8;
  font-size:13px;
  text-align:right;
}
h4.pull-left.celsius {
  border-left: none;
  border-top: none;
  background: #FBFDFC;
  font-size:13px;
}
div#header{
  background: #353432;
  color: #FF8C18;
  position: fixed;
  width: 100%;
  height: 50px;
  margin: 0;
  top: 0px;
  -webkit-box-shadow: 0 8px 6px -6px #bbb;
  padding: 10px;
  text-shadow: -1px -1px 0px rgba(255,255,255,0.4), 1px 1px 0px rgba(0,0,0,0.8);
}
div.panel{
  box-shadow: 10px 10px 5px #888888;
}
div#header .pull-left{
  border: none !important;
}
div#details{
  color: #ecf0f1;
}
div#header select{
  padding: 3px;
  color: #333;
  border-radius: 5px;
}
div.container{
  margin-top: 75px;
}
div#details {
  font-size: 12px;
}
div.panel.panel-default{
  width: 45%;
  min-height: 370px;
  margin-right: 2%;
  margin-bottom: 2%;
}
p.min-max{
  margin-top: 5%;
  font-size: 13px;
}
span.min-max{
  display: block;
  margin-top: 5%;
}
p.min-max span{
  padding: 3px 5px;
  display: inline-block;
}
p.min-max span.minmax.min{
  background:#A79FD0;
}
p.min-max span.minmax.max{
  background: #F8B0BB;
}
p.min-max span.minmax {
  border: solid 1px;
  border-radius:15px;
  font-weight: normal;
}
p.min-max span{
  font-weight: bold;
}
h4.pull-left.hours.morning{
  background-image: url(../images/sun.png);
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: 3px;
}
h4.pull-left.hours.night{
  background-image: url(../images/moon.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 5px;
}
